.button {
    padding: 1em;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: "Exo 2", serif;
    font-size: 12pt;
    color: var(--text);
    margin: .2em;
    cursor: pointer;
}

.primary {
    background-color: var(--primary);
    color: var(--text);
}

.secondary {
    color: var(--text-dark);
    background-color: transparent;
    border: 1px solid var(--secondary);
}
