.nav {
    position: fixed;
    bottom: 0;
}

.navItems {
    min-width: 100svw;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary);
}

.navItem {
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: var(--primary);
    }
}

.selected {
    border-top: 3px solid var(--primary);
}

.context-menu-selected {
    background-color: var(--primary);
}

.track-menu-open {
    animation: tilt .3s 1;
    animation-fill-mode: forwards;
}

.track-menu-close {
    animation: tilt-back .3s 1;
    animation-fill-mode: forwards;
}

.track-menu {
    position: fixed;
    justify-content: space-evenly;
    bottom: 3.5em;
    width: 50svw;
    animation: happy-expand .5s 1;
    @media screen and (max-width: 768px) {
        animation: mobile-menu-popup .3s 1;
        animation-fill-mode: forwards;
        width: 90svw;
    }
}

.track-menu-item {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: var(--secondary);

    &:hover {
        background-color: var(--primary);
        svg {
            animation: popup .3s;
            animation-fill-mode: forwards;
        }
    }

    &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes tilt-back {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes happy-expand {
    0% {
        width: 50px;
    }
    70% {
        width: 50svw;
    }
}

@keyframes popup {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-3px);
    }
}

@keyframes mobile-menu-popup {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}