.nav {
    position: fixed;
    bottom: 0;
    width: 100svw;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--text);
}

.nav-item {
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    svg {
        color: var(--light-text);
    }
}

.selected > svg {
    animation: fade-in .3s 1;
    color: var(--secondary);
}

