@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "default.css";

:root {
    --text: #030e11;
    --background: #edfdff;
    --primary: #33c6e1;
    --secondary: #ee91a5;
    --accent: #e4a64e;
    --hover: #edb76b;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}