.drawerContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.drawerHeader {
    width: 100svw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.drawerClose {
    padding: .5em;
    margin-right: .5em;
    cursor: pointer;
}

.animationTest {
    animation: test 2s 1;
}

@keyframes test {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}