.drawer {
    width: 100svw;
    position: fixed;
    bottom: -60%;
    left: 0%;
    height: 60%;
    background-color: var(--background);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 100;
}

.drawerOpen {
    animation: slide-up .4s 1;
    animation-fill-mode: forwards;
}

.drawerClose {
    animation: slide-down .4s 1;
    animation-fill-mode: forwards;
}

.drawerTop {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}

.drawerTop>svg {
    cursor: pointer;
    padding: .5em;
}

@keyframes slide-up {
    0% {
        bottom: -60%;
    }

    100% {
        bottom: 0;
    }
}

@keyframes slide-down {
    0% {
        bottom: 0;
    }

    100% {
        bottom: -60%;
    }
}
