.selector {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 300px;
    min-width: 300px;
    border: 2px solid var(--primary);
    padding: .5em;
    border-radius: 20px;
    cursor: pointer;
    max-height: 300px; 
    overflow: scroll;
}

.selected {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.expanded {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--primary);
}

.item {
   padding: 5px; 
}
