.selector {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 300px;
    min-width: 300px;
    border: 2px solid var(--primary);
    padding: .5em;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    margin: .2em;
}

.selected {
    display: flex;
    max-height: 300px;
    align-items: baseline;
    justify-content: center;
}

.expanded {
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid var(--primary);
    background-color: var(--background);
    top: 40px;
    left: 0;
    overflow: scroll;
    padding: .5em;
    border-radius: 20px;
    min-height: 250px;
    max-height: 250px;
    min-width: 100%;
    position: absolute;
    z-index: 150;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

