.nav {
    position: fixed;
    bottom: 0;
    max-width: 100svw;
}

.navItems {
    min-width: 100svw;
    display: flex;
    justify-content: space-evenly;
}

.navItem {
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: var(--hover);
    }

    &:last-child {
        border-top-right-radius: 10px;
    }

    &:first-child {
        border-top-left-radius: 10px;
    }
}

.selected {
    border-top: 3px solid var(--hover);
}

.context-menu-selected {
    background-color: var(--hover);
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes tilt-back {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.track-menu-open {
    animation: tilt .3s 1;
    animation-fill-mode: forwards;
}

.track-menu-close {
    animation: tilt-back .3s 1;
    animation-fill-mode: forwards;
}

@keyframes happy-expand {
    0% {
        width: 50px;
    }
    70% {
        width: 50svw;
    }
}

.track-menu {
    position: fixed;
    justify-content: space-evenly;
    bottom: 3.5em;
    width: 50svw;
    animation: happy-expand .5s 1;
}

.track-menu-item {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: var(--secondary);

    &:hover {
        background-color: var(--hover);
    }

    &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}